<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProductoCTL</servlet-name>
        <servlet-class>Control.ProductoCTL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioCTL</servlet-name>
        <servlet-class>Control.UsuarioCTL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MisesionCTO</servlet-name>
        <servlet-class>Control.MisesionCTO</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductoCTL</servlet-name>
        <url-pattern>/ProductoCTL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioCTL</servlet-name>
        <url-pattern>/UsuarioCTL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MisesionCTO</servlet-name>
        <url-pattern>/MisesionCTO</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
